.descriptionBlock {
    padding-top: 30px;
    padding-left: 30px;
}
.largePhoto {
    width: 300px !important;
    height: 300px !important;
    object-fit: cover;
}

.mainPhoto {
    width:100%;
    height:300px;
    object-fit: cover;
}