.header {
    grid-area: header;
    background-color: green;
  }
  
  .header img {
    width: 60px;
  }
  
  .loginBlock {
    float: right;
  }

  .loginBlock a {
    color: white;
    text-decoration: none;
    font-size: large;
  }